.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.log
log.txt
*.log.*

